:root {
    --width-base: 56rem;
    --font-base: 1rem;
    --line-height: 1.7;
    --font-family-helveticaNeue: 'HelveticaNeue', sans-serif;
    --font-family-pierSans: 'PierSans', sans-serif;
    --primary: #FCEFDA;
    --secondary: #22483B;
    --black: #000;
    --white: #fff;
    --width: 100%;
    --height: 100%;
    --font-size-h1: 7.3rem;
    --font-size-h2: 9.3rem;
    --font-size-h3: 5.625rem;
    --font-size-h4: 3.625rem;
    --font-size-h5: 1.125rem;
    --font-weight-300: 300;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --text-decoration: none;
    --transition: all 0.25s ease-in-out;
}

h2 {
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    margin-bottom: 70px;
    color: var(--primary);
}

h3 {
    font-size: var(--font-size-h3);
    text-transform: uppercase;
    margin-bottom: 70px;
    color: var(--secondary);
}

section {
    padding: 116px 0;
}

.container {
    padding: 20px;
}

/* ### Events ### */
.events {
    background-color: var(--primary);
    position: relative;
}

.events h3 {
    text-transform: uppercase;
    margin-bottom: 70px;
}

.events .event_box {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 5.8rem;
    align-items: center;
}

.events .event_box .column {
    width: 50%;
}

.events .event_box .column img {
    object-fit: contain;
}

.events .event_box p {
    font-size: var(--font-base);
    line-height: var(--line-height);
    text-align: justify;
}

.events .event_box .col_center {
    margin: 80px auto 0;
}

.events .event_box .col_center img {
    width: auto;
}

.scroll {
    width: 100px;
    height: 100px;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 110px;
    right: 23%;
}

/* ### News ### */
.news {
    background-color: var(--secondary);
    position: relative;
}

.news .news_row {
    display: flex;
    flex-direction: row;
    gap: 5.8rem;
    align-items: center;
}

.news .column {
    width: 50%;
}

.news .news_row .news_box .news_feature {
    display: flex;
    align-items: center;
}

.news .news_row .news_box .news_date {
    font-size: var(--font-size-h4);
    color: var(--primary);
    line-height: 68px;
    position: relative;
    text-align: right;
    width: 100%;
}

.news .news_row .news_box .news_date::before {
    content: "";
    position: absolute;
    width: 31px;
    height: 4px;
    background-color: var(--primary);
    top: 50%;
    left: 5px;
}

.news .news_row .news_box .news_content {
    padding-top: 30px;
    max-width: 196px;
}

.news .news_row .news_box a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    line-height: 21.6px;
    text-transform: uppercase;
}

.news .news_row .news_box p {
    margin-top: 10px;
    color: var(--primary);
    font-size: var(--font-base);
    text-align: justify;
}

.news .Next_arrow {
    width: 100px;
    height: 100px;
    background-color: var(--primary);
    color: var(--black);
    font-size: 40px;
    font-weight: bold;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30%;
    right: 23%;
}

.more_btn {
    margin-top: 80px;
    text-align: center;
}

.more_btn a {
    color: var(--primary);
    font-size: var(--font-base);
}

@media screen and (max-width: 480px) {

    h2,
    h3 {
        font-size: 43px;
        line-height: 43px;
        margin-bottom: 0;
    }

    /* ### Events ### */
    .events .event_box {
        margin-top: 60px;
        flex-direction: column;
        gap: 3.75rem;
    }

    .events .event_box:nth-child(3) {
        flex-direction: column-reverse;
    }

    .events .event_box .column {
        width: 100%;
    }

    .scroll {
        bottom: 22%;
        right: 15%;
    }

    /* ### News ### */
    .news .news_row {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .news .news_row .news_box:nth-child(2) {
        display: none;
    }

    .news .column {
        width: 100%;
    }

    .news .news_row .news_box .news_date {
        font-size: 2.5rem;
    }

    .news .news_row .news_box .news_date::before {
        left: -40px !important;
    }

    .news .Next_arrow {
        bottom: 42%;
        right: 1%;
    }
}