/* Table of Content
==================================================
	#Font-Face
	#Site Styles
	#Media Queries */

/* #Font-Face
================================================== */
@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueBold.woff');
	font-weight: 700;
}
@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueMedium.woff');
	font-weight: 500;
}
@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueRegular.woff');
	font-weight: 400;
}
@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueLight.woff');
	font-weight: 300;
}
@font-face {
	font-family: PierSans;
	src: url('../fonts/PierSans-Bold.otf');
	font-weight: 700;
}
@font-face {
	font-family: PierSans;
	src: url('../fonts/PierSans-Regular.otf');
	font-weight: 400;
}

/* #Site Styles
================================================== */
:root {
	--width-base: 56rem;
	--font-base: 1rem;
	--line-height: 1.7;
	--font-family-helveticaNeue: 'HelveticaNeue', sans-serif;
	--font-family-pierSans: 'PierSans', sans-serif;	
	--primary: #FCEFDA;
	--secondary: #22483B;
	--black: #000;
	--white: #fff;	
	--width: 100%;
	--height: 100%;
	--font-size-h1: 7.3rem;
	--font-size-h2: 9.3rem;
	--font-size-h3: 5.6rem;
	--font-size-h4: 3.625rem;
	--font-size-h5: 1.125rem;
	--font-weight-300: 300;
	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;
	--text-decoration: none;
	--transition: all 0.25s ease-in-out;
}

/* ### general ### */
* { margin: 0; padding: 0; box-sizing: border-box; }
html,
body { font-family: var(--font-family-helveticaNeue); font-size: 1rem; line-height: 1.5; color: var(--dark); }
body { background: var(--body-primary); }

ul,
li { list-style: none; }
img { display: block; max-width: 100%; height: auto; border: 0; }
a { display: inline-block; transition: var(--transition); }
h1,
h2,
h3,
h4,
h5,
h6 { font-family: var(--font-family-PierSans); font-weight: var(--font-weight-400); line-height: 100px; color: var(--secondary); }
h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
h3 { font-size: var(--font-size-h3); }
h4 { font-size: var(--font-size-h4); }
h5 { font-size: var(--font-size-h5); }

a{ text-decoration: var(--text-decoration); color: var(--black); }
.flex{ display: flex}
.item-center{ align-items: center;}
.justify-center{ justify-content: center; }

.button{ width: 100px; height: 100px; border-radius: 100%; outline: none; border: none; font-family: var(--font-family-helveticaNeue); cursor: pointer; transform: var(--transition); }
.button.button-primary{ background: var(--primary); }
.button.button-secondary{ background: var(--secondary); }
.button.button-primary:hover{background: var(--secondary); color: var(--primary) !important; }
.button.button-secondary:hover{background: var(--primary); color: var(--secondary) !important; }

/* ### wrapper ### */
.container { max-width: var(--width-base); width: var(--width); margin: 0 auto; }

main{
	background-image: url('../images/hero-image.jpg'); background-position: top center; background-repeat: no-repeat; background-size: cover;
	width: 100vw;
	height: 100vh;
	position: relative;
}
main .nav-button{ position: absolute; right: 0; top: 0; }
main .nav-button .mobile-version { display: none; }
main .nav-button ul li a{ width: 100px; height: 100px; display: flex; justify-content: center; align-items: center;}
main .nav-button ul li:first-child{ background-color: var(--primary)}
main .nav-button ul li:nth-child(2){ background-color: var(--secondary)}
main .nav-button ul li:nth-child(2) a{ color: var(--primary) }
main .logo{ width: 100%; display: flex; justify-content: center; padding-top: 3.5rem;}
main p{ font-family: var(--font-family-helveticaNeue); font-weight: var(--font-weight-300); font-size: 20px; max-width: 467px; color: var(--white); margin-top: 4rem;}
main h1 { color: var(--primary); margin-top: 3rem;}
main .scroll-button{ width: 100%; display: flex; justify-content: end; margin-top: 4rem;}



@media (max-width: 640px) {
	h1{ font-size: 64px; line-height: 64px; }
	.button{ width: 74px; height: 74px;}
	.container{ padding: 0 .5rem;}
	main .scroll-button { position: absolute; bottom: 3rem; right: 1.5rem;}
	main .nav-button ul li a { width: 64px; height: 64px; }
	main .nav-button .desktop-version { display: none; }
	main .nav-button .mobile-version { display: flex; }
}