/* Table of Content
==================================================
	#Font-Face
	#Site Styles
	#Media Queries */

/* #Font-Face
================================================== */
@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueBold.woff');
	font-weight: 700;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueMedium.woff');
	font-weight: 500;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueRegular.woff');
	font-weight: 400;
}

@font-face {
	font-family: HelveticaNeue;
	src: url('../fonts/HelveticaNeueLight.woff');
	font-weight: 300;
}

@font-face {
	font-family: PierSans;
	src: url('../fonts/PierSans-Bold.otf');
	font-weight: 700;
}

@font-face {
	font-family: PierSans;
	src: url('../fonts/PierSans-Regular.otf');
	font-weight: 400;
}

/* #Site Styles
================================================== */
:root {
	--width-base: 888px;
	--font-base: 16px;
	--line-height: 30px;
	--font-family-helveticaNeue: 'HelveticaNeue', sans-serif;
	--font-family-pierSans: 'PierSans', sans-serif;
	--primary: #FCEFDA;
	--secondary: #22483B;
	--black: #000;
	--white: #fff;
	--width: 100%;
	--height: 100%;
	--font-size-h1: 118px;
	--font-size-h2: 150px;
	--font-size-h3: 90px;
	--font-size-h4: 58px;
	--font-size-h5: 28px;
	--font-weight-300: 300;
	--font-weight-400: 400;
	--font-weight-500: 500;
	--font-weight-600: 600;
	--font-weight-700: 700;
	--text-decoration: none;
	--transition: all 0.25s ease-in-out;
}

/* ### general ### */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--font-family-helveticaNeue);
	font-size: 16px;
	line-height: 1.5;
	color: var(--dark);
}

body {
	background: var(--body-primary);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 0;
}

a {
	display: inline-block;
	transition: var(--transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-PierSans);
	font-weight: var(--font-weight-400);
	line-height: 100px;
	color: var(--secondary);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

h4 {
	font-size: var(--font-size-h4);
}

h5 {
	font-size: var(--font-size-h5);
}

a {
	text-decoration: var(--text-decoration);
	color: var(--black);
}

.flex {
	display: flex
}

.item-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.button {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	outline: none;
	border: none;
	font-family: var(--font-family-helveticaNeue);
	cursor: pointer;
	transform: var(--transition);
}

.button.button-primary {
	background: var(--primary);
}

.button.button-secondary {
	background: var(--secondary);
	color: var(--white);
}

.button.button-primary:hover {
	background: var(--secondary);
	color: var(--primary) !important;
}

.button.button-secondary:hover {
	background: var(--primary);
	color: var(--secondary) !important;
}

/* ### wrapper ### */
section {
	padding: 116px 0;
}

.container {
	max-width: var(--width-base);
	width: var(--width);
	margin: 0 auto;
}

/* ### main ### */
main {
	background-image: url('../images/hero-image.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	padding-bottom: 63px;
}

main .nav-button {
	position: absolute;
	right: 0;
	top: 0;
}

main .nav-button .mobile-version {
	display: none;
}

main .nav-button ul {
	list-style: none;
}

main .nav-button ul li a {
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

main .nav-button ul li:first-child {
	background-color: var(--primary)
}

main .nav-button ul li:nth-child(2) {
	background-color: var(--secondary)
}

main .nav-button ul li:nth-child(2) a {
	color: var(--primary)
}

main .logo {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 60px;
}

main p {
	font-family: var(--font-family-helveticaNeue);
	font-weight: var(--font-weight-300);
	font-size: 20px;
	line-height: 24px;
	max-width: 467px;
	color: var(--white);
	margin-top: 63px;
}

main h1 {
	color: var(--primary);
	margin-top: 63px;
	font-size: var(--font-size-h1);
	line-height: 100px;
	text-transform: uppercase;
}

main .scroll-button {
	width: 100%;
	display: flex;
	justify-content: end;
	margin-top: 190px;
}

/* ### events ### */


.events {
	background-color: var(--primary);
	position: relative;
}

.events h3 {
	text-transform: uppercase;
	margin-bottom: 70px;
}

.events .event_box .column:nth-child(odd) {
	padding-right: 44px;
}

.events .event_box .column:nth-child(even) {
	padding-left: 44px;
	text-align: right;
}

.events .event_box {
	margin-top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.events .event_box .column {
	width: 100%;
}

.events .event_box p {
	font-size: var(--font-base);
	line-height: var(--line-height);
	text-align: justify;
}

.events .event_box .col_center {
	margin: 80px auto 0;
}

.events .event_box .col_center img {
	margin: auto;
}

.events .scroll-button {
	width: 100%;
	display: flex;
	justify-content: end;
	margin-top: -100px;
}

.events .md_hide {
	display: none !important;
}

.events .md_block {
	display: flex !important;
	margin-top: -100px;
}

/* ### news ### */
.news {
	background-color: var(--secondary);
}

.news .container {
	position: relative;
}

.news h2 {
	color: var(--primary);
	margin-bottom: 88px;
}

.news .sliderholder {
	width: 100%;
}

.news .sliderholder .slick-list {
	width: 100% !important;
}

.news .sliderholder .slide {
	width: 100%;
	padding: 0 40px 0 0;
}

.news .sliderholder .column {
	width: 100%;
}

.news .sliderholder .news_box .news_feature {
	display: flex;
	align-items: center;
}

.news .sliderholder .news_box .news_date {
	font-size: 58px;
	color: var(--primary);
	line-height: 68px;
	position: relative;
	width: 100%;
	text-align: end;
}

.news .sliderholder .news_box .news_date::before {
	content: "";
	position: absolute;
	width: 31px;
	height: 4px;
	background-color: var(--primary);
	top: 50%;
	left: 5px;
}

.news .sliderholder .news_box .news_content {
	padding-top: 30px;
	max-width: 196px;
}

.news .sliderholder .news_box a {
	text-decoration: none;
	color: var(--primary);
	font-size: 18px;
	line-height: 21.6px;
	text-transform: uppercase;
}

.news .sliderholder .news_box p {
	margin-top: 10px;
	color: var(--primary);
	font-size: var(--font-base);
	text-align: justify;
}

.news .scroll-button {
	width: 100%;
	display: flex;
	justify-content: end;
	margin-top: 0;
	position: absolute;
	bottom: 260px;
	right: 30px;
}

.news .Next_arrow .button-primary {
	font-size: 40px;
	font-weight: bold;
}

.news .Next_arrow .arrow {
	margin-top: -12px;
}

.more_btn {
	margin-top: 116px;
	text-align: center;
}

.more_btn a {
	color: var(--primary);
	text-decoration: underline;
	font-size: var(--font-base);
}

/* contact  */
.contact {
	background-image: url('../images/contact-section.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact h2 {
	text-transform: uppercase;
	color: var(--primary);
	margin-bottom: 62px;
}

.contact .line {
	width: 46px;
	height: 4px;
	background: var(--white);
}

.contact p {
	color: var(--white);
	font-size: 20px;
	font-weight: 300;
}

.contact .tag-line {
	gap: 16px;
}

.contact h6 {
	font-size: 18px;
	text-transform: uppercase;
	color: var(--white);
	font-weight: 500;
	line-height: 20px;
}

.contact .info {
	margin-top: 108px;
	color: var(--primary);
}

.contact .info .address {
	font-variant: normal;
	margin-top: 12px;
}

.contact .info ul {
	list-style-type: disc !important;
	text-decoration: underline;
	margin-top: 10px;
	font-weight: 300;
	padding-left: 20px;
}

.contact .info ul li {
	padding: 4px 0;
}

.contact .info .address2 {
	margin-top: 32px;
	margin-bottom: 32px;
}

.contact a {
	text-decoration: underline;
	color: var(--white);
}

/* footer  */
footer {
	background-color: var(--secondary);
	padding: 116px 0 0;
}

footer h2 {
	text-align: center;
	margin-bottom: 0;
}

footer a {
	text-decoration: underline !important;
}

footer a:hover {
	text-decoration: none;
}

footer .socials {
	max-width: 200px;
	margin: 60px auto;
}

footer .footer_nav {
	padding: 60px 0;
}

footer .socials ul li {
	display: list-item;
	list-style: disc !important;
}

footer ul {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

footer ul,
footer li a {
	text-decoration: none;
	color: var(--white);
}

footer h2 {
	color: var(--primary);
}
footer .footer_nav  {list-style: none;}

/* mobile version   */
@media (max-width: 640px) {
	:root {
		--font-size-h1: 84px;
		--font-size-h2: 94px;
	}

	.container {
		padding: 15px;
	}

	h2,
	h3 {
		font-size: 43px;
		line-height: 43px;
		margin-bottom: 0;
	}

	/* main   */
	main h1 {
		font-size: 43px;
		line-height: 53px;
	}

	.button {
		width: 74px;
		height: 74px;
	}

	main .nav-button ul li a {
		width: 64px;
		height: 64px;
	}

	main .nav-button .desktop-version {
		display: none;
	}

	main .nav-button .mobile-version {
		display: flex;
	}

	/* ### events ### */
	.events .event_box {
		margin-top: 0;
		flex-direction: column;
		gap: 60px;
	}

	.events .event_box:nth-child(3) {
		flex-direction: column-reverse;
		margin-top: 120px;
	}

	.events .event_box .column {
		width: 100%;
	}

	.events .md_hide {
		display: flex !important;
		margin-top: 24px !important;
	}

	.events .md_block {
		display: none !important;
		margin-top: 90px;
	}

	/* ### news ### */
	.news .sliderholder {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
	}

	.news .sliderholder .news_box:nth-child(2) {
		display: none;
	}

	.news .column {
		width: 100%;
	}

	.news .sliderholder .news_box .news_date {
		font-size: 58px;
		line-height: 68.03px;
		text-align: start;
	}

	.news .sliderholder .news_box .news_date::before {
		left: -40px !important;
	}

	/* ### footer ### */
	footer .footer_nav {
		flex-direction: column;
		gap: 24px;
		text-align: left;
	}

}

@media (min-width: 641px) and (max-width: 1080px) {
	:root {
		--font-size-h1: 72px;
		--font-size-h2: 56px;
	}

	.container {
		padding: 20px;
	}

	h2,
	h3 {
		font-size: 56px;
		line-height: 66px;
		margin-bottom: 0;
	}

	/* main   */
	main h1 {
		font-size: var(--font-size-h1);
		line-height: 82px;
	}

	/* events   */
	.events .event_box {
		margin-top: 60px;
	}

	.events .event_box .col_center {
		margin: 0 auto 0;
	}

	/* news   */
	.news .sliderholder .news_box .news_date {
		font-size: 42px;
		text-align: start;
	}

	.news .sliderholder .news_box .news_date::before {
		left: -40px !important;
	}
}